/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

.App {
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);
  width: 100vw;
  height: 100vh;
}

.board {
  /* width: 400px; */
  /* height: 400px; */
  /* max-width: 800px; */
  /* max-height: 800px; */
  position: absolute;
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
  /* background-color: #fff; */
  display: grid;
  /* grid-template-columns: repeat(8, 1fr); */
  column-gap: 5px;
  row-gap: 5px;
}

.piece {
  width: 0;
  height: 0;
  margin: auto auto;
  /* box-shadow: 0 0 2px #000; */
  filter: blur(100%);
  /* transition: 2s ease; */
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: grab;
  transition: all 0.1s;
}

.shrink {
  transform: scale(0.01);
  transform-origin: 50%;
}

.square {
  width: 100%;
  height: 100%;
  background: #e74c3c;
}

.diamond {
  background: #8e44ad;
  transform: rotate(45deg) !important;
  width: 80%;
  height: 80%;
  margin: auto;
}

.index {
  /* background-color: white;
  color: black;
  /* padding: 3px; */
  /* border-radius: 50%; */
  display: block;
  /* width: 15px; */
  /* height: 15px;   */
}

.diamond .index {
  transform: rotate(-45deg);
}

.circle {
  width: 100%;
  height: 100%;
  background: #3498db;
  border-radius: 50%;
  transform: rotate(360deg);
}

.triangle {
  width: 100%;
  height: 100%;
  /* background: #e67e22; */
  filter: brightness(0) saturate(100%) invert(55%) sepia(87%) saturate(1542%) hue-rotate(349deg) brightness(96%) contrast(88%);
  background-image: url("/img/triangle.svg");
  background-size: 45px;
  /* transform: rotate(120deg); */
}

.pentagon {
  width: 100%;
  height: 100%;
  /* background: #2ecc71; */
  filter: brightness(0) saturate(100%) invert(65%) sepia(75%) saturate(431%) hue-rotate(91deg) brightness(88%) contrast(90%);
  background-image: url("/img/pentagon.svg");
  background-size: 40px;
  transform: rotate(144deg);
}

.star {
  width: 100%;
  height: 100%;
  /* background: #e0e933; */
  filter: brightness(0) saturate(100%) invert(67%) sepia(97%) saturate(298%) hue-rotate(19deg) brightness(102%) contrast(114%);
  background-image: url("/img/star.svg");
  background-size: 45px;
  transform: rotate(288deg);
}

.boardSizeBtns {
  position: absolute;
  bottom: 20px;
  left: calc(50vw - 90px);
  display: flex;
  flex-direction: row;
}

.boardSizeBtn {
  background-color: #fff;
  /* padding: 10px; */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.boardSizeBtns button:hover {
  opacity: 0.5;
  transition: all 0.2s;
}

.boardSizeBtns span {
}

.stats {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
